#Titulo{
    color:#2560a3;
}
.texto{
    color: rgb(0, 0, 0);
}
div p{
    color: #2560a3;
}
div h2, div h3{
    color: brown;
}
/**{
    font-size: 24px;
    color: black;
}*/
/* Asi se ponen 
.color{
    color:rgb(141, 141, 127)
}
comentarios en CSS*/
.color{
    /* border: 5px rgb(0, 0, 0) solid ; */
    /* 1px representa una pequeña parte que contiene color
    ALTERNATIVAS PARA UN CUADRO
    dotted
    dashed 
    solid
    double
    groove
    ridge
    inset 
    outset
    none
    hidden
    */
    border-style: solid;
    border-color: rgb(179, 90, 90);
    border-radius: 10px;
    border-width: 0.2rem;
}
#fondo{
    color: white;
    background-color: rgba(66, 64, 204, 0.315);
    /*opacity: 0.3;*/
    height: 30px;
    /*repeat-y repite imagenes de forma vertical y repeat-x de forma horizontal */
    background: #f00 url('Image.png') repeat-y center bottom /cover;
    
}


.margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 2px rgba(0, 0, 0, 0.781);
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid rgb(0, 255, 85);
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 1px 1px rgba(228, 36, 36, 0.76);
}
a:link{
    color: blueviolet;
}
a:visited{
    color: gray;
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
ul{
    background-color: cyan;
    list-style-type: georgian;
    /*padding-left: 0;*/
    /*list-style-position: inside;*/
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: solid 1px rgb(121, 59, 129);
    padding: 5px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even){
    background-color: #eee;
}
tr:hover{
    background-color: #aaa;
    cursor: pointer;
}
span{
    display:block;
    /* display: none; */
    /* visibility: hidden; */
    max-width: 300px;
    background-color: rgb(126, 126, 206);
}
.inline{
    display: inline;
}
#position{
    position: sticky;
    left: 20px;
    top: 25px; 
}
.left{
    float: left;
    width: 100px;
    height: 100px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}
.column{
    margin: 0;
    padding: 10px 0px;
    width: 33.3%;
}
.inline-block{
    display: inline-block;
    height: 25px;
    background-color: rgb(92, 158, 112);
}
.center{
    /* padding: 50px 0; */
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: #f00;
}